.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; /* Allow page to grow */
    height: auto; /* Let content define height */
    background-color: #0e0f19;
    background-image: url("../future-city-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .resume-page .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 2em 1em;
    }


    .resume-page .resume{
        width: 100%;
        height: 100vh;
    }

    @media (max-width: 600px) {

        * {
            box-sizing: border-box;
        }
        /* Adjust background image */
        .resume-page {
            background-size: cover; /* Keep it cover to fill the screen */
            background-position: center center; /* Center the image vertically and horizontally */
            max-height: 100vh; /* Allow height to auto-adjust based on content */
            max-width: 100vw; /* Ensure full width on mobile */
        }
    
        /* Container adjustments for mobile */
        .resume-page .container {
            flex-direction: column; /* Switch to column layout on mobile */
            width: 90%; /* Adjust container width */
            padding: 1em; /* Add padding for better spacing */
        }
    
        /* Adjust Resume section for mobile */
        .resume-page .resume {
            width: 100%;
            height: 80vh; /* Adjust height to auto on mobile */
            margin-top: 2em; /* Add some space at the top */
        }
    
        /* Adjust iframe within the resume section */
        .resume-page .resume iframe {
            width: 100%; /* Ensure iframe takes up full width */
            height: 60%; /* Adjust iframe height */
            border: none; /* Remove border */
            margin-top: 2rem; /* Add spacing from the top */
        }
    }