    .resume-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #0e0f19;
        background-image: url("../future-city-2.webp");
        background-size: cover; /* Ensure the image covers the entire container */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    }

    .resume-page .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        
    }


    .resume-page .resume{
        width: 100%;
        height: 100vh;
    }

    @media (max-width: 600px) {
        /* Adjust background image */
        .resume-page {
            background-size: cover; /* Keep it cover to fill the screen */
            background-position: center center; /* Center the image vertically and horizontally */
            height: auto; /* Allow height to auto-adjust based on content */
        }
    
        /* Container adjustments for mobile */
        .resume-page .container {
            flex-direction: column; /* Switch to column layout on mobile */
            width: 90%; /* Adjust container width */
            padding: 1em; /* Add padding for better spacing */
        }
    
        /* Adjust Resume section for mobile */
        .resume-page .resume {
            width: 100%;
            height: auto; /* Adjust height to auto on mobile */
            margin-top: 2em; /* Add some space at the top */
        }
    
        /* Adjust iframe within the resume section */
        .resume-page .resume iframe {
            width: 100%; /* Ensure iframe takes up full width */
            height: 60vh; /* Adjust iframe height */
            border: none; /* Remove border */
            margin-top: 2rem; /* Add spacing from the top */
        }
    }