@font-face {
    font-family: 'PalmLeaf';
    src: url('./src/assets/fonts/palm-leaf-font/PalmLeafDemoRegular-lg61w.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CyberBlast';
    src: url('./src/assets/fonts/cyber-blast-font/CyberBlast-JpK2o.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
    .home{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        color: white;
        background-color: #0e0f19;
       
    }
    
    .home .header{
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
       
        background-color: #0e0f19;

    }

    .home .header h1{
        font-family: 'CyberBlast', sans-serif;
        position: fixed;
        font-size: 3em;
        line-height: 1.1;
        margin-top: 5vh;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
    }

    .home .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        
    }
    .home .home-content{
        
        width: 100%;
        height: 100vh;
        
    }

    .home #image-background{
       
    }

    
    