@font-face {
    font-family: 'PalmLeaf';
    src: url('/assets/fonts/palm-leaf-font/PalmLeafDemoRegular-lg61w.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CyberBlast';
    src: url('/assets/fonts/cyber-blast-font/CyberBlast-JpK2o.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @keyframes car-move-forward {
    from {
        transform: translateX(-100vw) scaleX(-1); /* Start off the right side of the page */
    }
    to {
        transform: translateX(100vw) scaleX(-1); /* Move to the left side of the page */
    }
}
@keyframes car-move-backward {
    from {
        transform: translateX(100vw); /* Start off the right side of the page */
    }
    to {
        transform: translateX(-100vw); /* Move to the left side of the page */
    }
}
  
    .home{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        color: white;
        background-color: #0e0f19;
        background-image: url("../future-city-1.jpg");
        background-size: cover; /* Ensure the image covers the entire container */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    } 

    .home .header h1{
        font-family: 'CyberBlast', sans-serif;
        
        font-size: 3em;
        line-height: 1.1;
        margin-top: 5vh;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
    }

    .home .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 30vh;
        
    }
    .home .home-content{
        
        width: 100%;
        height: 100vh;
        
    }

    .home .car-container {
        position: relative; /* Ensure cars are positioned relative to this container */
        width: 100%;
        height: 50vh;
        overflow: hidden; /* Prevent cars from being visible outside the container */
    }
    
    .home .car-container img {
        position: absolute; /* Allow precise positioning */
        width: 60px;
        height: 60px;
    }

    .home .car-container .car-forward{
        display: flex;
        
        
        
    }
    .home .car-container .car-backward{
        display: flex;
        flex-direction: row-reverse;
        
        
    }

    

    #car1 {
        
        
        animation: car-move-forward 5s linear infinite;
        top: 0%; /* Adjust vertical position */
        left: -60px; /* Start off the left side of the container */
    }
    
    #car2 {
        animation: car-move-backward 6s linear infinite;
        top: 15%; /* Adjust vertical position */
        right: -60px; /* Start off the right side of the container */
    }
    
    #car3 {
        
        
        animation: car-move-forward 6s linear infinite;
        top: 35%; /* Adjust vertical position */
        left: -60px; /* Start off the left side of the container */
    }
    
    #car4 {
        animation: car-move-backward 7s linear infinite;
        top: 55%; /* Adjust vertical position */
        right: -60px; /* Start off the right side of the container */
    }

    #car5 {
        
        
        animation: car-move-forward 8s linear infinite;
        top: 80%; /* Adjust vertical position */
        left: -60px; /* Start off the left side of the container */
    }


    
    